{
  "include": [
    "src/**/*.ts"
  ],
  "exclude": [
    "src/**/*test.ts"
  ],
  "extension": [
    ".ts"
  ],
  "reporter": [
    "text-summary",
    "html"
  ],
  "sourceMap": true,
  "instrument": true,
  "all": true
}