version: 2.1
orbs:
  node: circleci/node@4.2.0
jobs:
  test:
    executor: node/default
    steps:
      - checkout
      - node/install-packages
      - run: npm run test
      - run: npm run cover
workflows:
  test:
    jobs:
      - test
