/* Remove docsify's header info */
.app-name,
.github-corner {
  display: none;
}

/* Variables to use through the whole app */
:root {
  --header-height: 50px;
  --header-padding-vertical: 20px;
  --theme-color--dark: #52246f;
  --theme-color--dark-blue: #2d3073;
  --theme-color--light: #bba1cb;
  --theme-color--light-blue: #a8aacf;
  --theme-color--text: #000;
  --theme-color--yellow: #fff1c8;
}

/* Basic css overrides */
body {
  font-family: "Segoe UI Web (West European)", Segoe UI, -apple-system,
    BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  font-size: 16px;
  margin: 0px;
}
a {
  color: var(--theme-color--dark);
  text-decoration: none;
}
a:visited {
  color: var(--theme-color--dark);
}
a:hover {
  text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
}
h1 {
  font-size: 32px;
  margin-bottom: 14px;
}
h2 {
  font-size: 24px;
  margin-bottom: 13px;
}
h3 {
  font-size: 18px;
  margin-bottom: 12px;
}
h4 {
  font-size: 16px;
  margin-bottom: 11px;
}
h5 {
  font-size: 14px;
  margin-bottom: 10px;
}
h6 {
  font-size: 12px;
  margin-bottom: 9px;
}

/* Page layout */
body {
  display: grid;
  grid-template-areas:
    "header header"
    "app-nav main";
  grid-template-columns: 200px auto;
  grid-template-rows: auto;
}

.header {
  grid-area: header;
}
.app-nav {
  grid-area: app-nav;
  margin: 30px 50px;
  margin-inline-end: 0;
  white-space: nowrap;
}
main {
  grid-area: main;
  margin: 30px 50px;
}

/* Header */
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: calc(var(--header-padding-vertical) / 2) 50px;
  height: var(--header-height);
  color: var(--theme-color--light);
  background-color: var(--theme-color--dark);
}
.header a {
  color: var(--theme-color--light);
  text-decoration: none;
}
.header a:visited {
  color: var(--theme-color--light);
}
.header a:hover {
  text-decoration: underline;
}
.header > .app-title {
  flex: 1 1 0px;
  font-size: 24px;
}
.header > .links {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -10px;
}
.header > .links > * {
  margin: 10px;
}

/* Playground */

.site--mount.full-page {
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--header-height) - var(--header-padding-vertical));
  width: 100vw;
}

.site--mount.full-page > * {
  flex: 1 1 0;
}

.site--playground {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.site--playground > * {
  flex: 1 1 0;
}
/* Left nav */
nav ul {
  list-style: none;
  padding: 5px 14px;
}
nav > ul {
  margin: 0;
  padding: 0;
}
nav li {
  padding: 5px 0px;
}
nav li a.active {
  font-weight: bold;
}

.sidebar-toggle {
  bottom: 0;
  height: 50px;
  left: 0;
  position: fixed;
  width: 50px;
}

.sidebar-toggle-button span {
  background: var(--theme-color--dark);
}

/* Source code styling */
pre {
  background: #fafafa;
  color: #383a42;
  display: block;
  overflow-x: auto;
  padding: 0.5em;
}
pre .comment,
pre .quote {
  color: #a0a1a7;
  font-style: italic;
}
pre .doctag,
pre .keyword,
pre .formula {
  color: #a626a4;
}
pre .section,
pre .name,
pre .selector-tag,
pre .deletion,
pre .subst {
  color: #e45649;
}
pre .boolean,
pre .literal {
  color: #0184bb;
}
pre .property,
pre .string,
pre .regexp,
pre .addition,
pre .attribute,
pre .meta-string {
  color: #50a14f;
}
pre .built_in,
pre .class pre .title {
  color: #c18401;
}
pre .attr,
pre .variable,
pre .template-variable,
pre .type,
pre .selector-class,
pre .selector-attr,
pre .selector-pseudo,
pre .number {
  color: #986801;
}
pre .symbol,
pre .bullet,
pre .link,
pre .meta,
pre .selector-id,
pre .title {
  color: #4078f2;
}
pre .emphasis {
  font-style: italic;
}
pre .strong {
  font-weight: bold;
}
pre .link {
  text-decoration: underline;
}

/* Homepage logo */
.sci-sortier-documentation {
  text-align: center;
}
.sci-sortier-documentation-logo {
  max-height: 250px;
}
.sci-sortier-documentation-logo > g {
  transition: transform 0.5s;
}
.sci-sortier-documentation-logo > g > path {
  stroke-linecap: round;
  stroke-width: 2px;
}
.sci-sortier-documentation-logo > g > path.clear {
  stroke: transparent;
}
.sci-sortier-documentation-logo > g > path.back-1 {
  stroke: #a8aacf;
}
.sci-sortier-documentation-logo > g > path.back-2 {
  stroke: #fff1c8;
}
.sci-sortier-documentation-logo > g > path.back-3 {
  stroke: var(--theme-color--light);
}
.sci-sortier-documentation-logo > g > path.fore {
  stroke: #2d3073;
}
