name: Publish

on:
  push:
    branches: [main]

jobs:
  Publish:
    runs-on: ubuntu-latest
    steps:
      - name: get-npm-version
        id: package-version
        uses: martinbeentjes/npm-get-version-action@1.1.0
      - name: Parse npm version
        id: semver
        uses: odinr/action-npm-semver@v1
        with:
          version: "${{ steps.package-version.outputs.current-version }}"
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Test
        id: install
        run: |
          npm install  
          npm test
      - name: Publish
        id: publish
        uses: JS-DevTools/npm-publish@v1
        with:
          token: ${{ secrets.NPM_TOKEN }}
          tag: "${{ steps.semver.outputs.prerelease }}"
      - name: Get Changelog Entry
        id: getChangelog
        uses: mindsers/changelog-reader-action@v2
        with:
          version: ${{ steps.publish.outputs.version }}
          path: ./CHANGELOG.md
      - name: Git Release
        if: steps.publish.outputs.type != 'none'
        uses: "softprops/action-gh-release@v1"
        with:
          token: "${{ secrets.GITHUB_TOKEN }}"
          tag_name: "${{ steps.publish.outputs.version }}"
          name: "${{ steps.publish.outputs.version }}"
          prerelease: ${{ steps.publish.outputs.tag != 'latest' }}
          body: ${{ steps.getChangelog.outputs.changes }}
