# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: NPM Publish

on:
  push:
    branches: ["main"]

jobs:
  publish:
    runs-on: ubuntu-latest

    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Use Node.js lts
        uses: actions/setup-node@v6
        with:
          node-version: lts/*
          registry-url: "https://registry.npmjs.org"

      - name: Git config
        run: |
          git config user.name "${GITHUB_ACTOR}"
          git config user.email "${GITHUB_ACTOR}@users.noreply.github.com"

      - name: Install
        run: npm ci --ignore-scripts

      - name: Revert docs
        run: |
          git status
          git checkout .

      - name: Build
        run: npm run build --if-present

      - name: Test
        run: npm test

      - name: NPM config
        run: npm config set //registry.npmjs.org/:_authToken $NPM_TOKEN

      - name: Publish
        run: npx --no release-it -- --ci
        continue-on-error: true
